body {
   
   background-color: lightcoral;
   padding: 1vw;
}

.grid-container{
  display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.grid-item{
padding: 100px;
}

#musicianImage{
   max-width: 16vw;

}

